.pc-header-new{
    font-size: 13px;
    padding: 0 11px;
    color: black;
    margin-left: 11px;
} 
.topbar {
    font-size: 13px;
    padding: 0 11px;
    color: black;
    margin-left: 11px;
}

.wgt-userbar {
    font-size: 13px;
    padding: 0 11px;
    margin-left: 11px;
}

.wgt-userbar li{
    color: black;
}

.userbar_message {
    margin-left: 11px;
}